<!DOCTYPE html>
<html>
<head>
	<title><%=user%></title>
	<style>
		body {
			margin:0px;
			border: 0px;
			padding: 0%;
			font-size: 200%;
			background-color: white;
			background-repeat: no-repeat;
			background-size: cover;
		}
		#nav {
			width: 100%;
			padding-top:1%;
			padding-bottom: 1%;
			background-color: orange;

		}
		#nav button {
			float: right;
			margin-right: 3%;
			padding: 0.25%;
			padding-right: 1%;
			padding-left: 1%;
			margin-top: 0.5%;
			background: white;
			border: 1px solid white;
			color:orange;
			border-radius: 5px;
		}
		.name {
			height:10%;
			width: 20%
		}
		.name {
			padding-left: 1%;
			color:white;
		}
		#back {
			width: 100%;
			padding-top: 12%;
			padding-bottom: 12%;
			text-align: center;
		}
		#details {
			width: 40%;
			padding-top: 5%;
			padding-bottom: 5%;
		}
		.Name {
			font-size: 120%;
		}
		.con {
			display:inline-block;
			width: 48%;
			padding:0px;
			margin:0px;
		}
		.orange {
			border:1px solid orange;
			margin-bottom: 0%;
		}
		.questions {
			border-bottom: 1px solid orange;
			padding-top: 0%;
			margin:0 auto;
			width: 40%;
		}
		.q {
			margin-top: 5%;
			margin-bottom: 3%;
			margin-right: auto;
			margin-left: auto;
			width: 90%;
		}
		.a {
			margin-top: 0%;
			margin-bottom: 5%;
			margin-right: auto;
			margin-left: auto;
			width: 90%;
			font-size:60%;
		}
		a:active {
		  color: orange;
		  text-decoration-color: white;

		}
		a:link {
		  color: orange;
		  text-decoration-color: white;

		}

		a:visited {
		  color: orange;
		  text-decoration-color: white;
		}

		a:focus {
		  background: white;
		  text-decoration-color: white;
		}

		a:hover { 
		  background: white;
		  text-decoration-color: white;
		}
	</style>
</head>
<body>
<div id="nav">
	<strong class="name">DISASQA</strong>
	<button><a href="/">Logout</a></button>
	<button><a href="/feed">Feed</a></button>
</div>
<div>
	<div id="details" class="con">
		<strong class="Name"><%= name %></strong><br>
		<%= user %> <br><br>
		Contact: <%= email %> <br>
	</div>
</div>
<hr class="orange">
<% for(var j=questions.length-1;j>=0;j--){ %>
	<div class="questions">
		<p class="q"><strong><%= questions[j].QUESTION %>?</strong></p>
		<p class="a"><%= questions[j].ANSWER %>.</p>
	</div>
<% } %>
</body>
</html>